---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/post-layout.astro';
import dayjs from 'dayjs';
import { formatDate } from '@/utils/string';
import { render } from 'astro:content';
import { getEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('post');
  return posts.map((post) => ({ params: { slug: post.id } }));
}

// the `post` prop is passed from `getStaticPaths`
const { slug } = Astro.params;
const post = (await getEntry('post', slug))!;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <article class="divide-y">
    <section
      class="mb-8 flex flex-col flex-wrap items-center justify-center gap-2"
    >
      <time
        datetime={dayjs(post.data.createdAt).format('YYYY-MM-DD')}
        class="text-gray-500 font-medium"
        >{formatDate(post.data.createdAt)}</time
      >
      <h1 class="font-bold text-3xl sm:text-4xl md:text-5xl">
        {post.data.title}
      </h1>
    </section>
    <section
      class="pt-8 prose max-w-xs block m-auto prose-stone prose-img:block prose-img:m-auto md:max-w-none lg:prose-xl"
    >
      <Content />
    </section>
  </article>
</Layout>

<style></style>
