---
import Spotlight from '@/components/common/spotlight';
import { Github, Linkedin, Mail } from 'lucide-react';
import Layout from '../layouts/root.astro';
import TextGenerateEffect from '@/components/common/text-generate-effect';
import { Badge } from '@/components/ui/badge';
import { Button } from '@/components/ui/button';
import Avatar from '@/assets/avatar.jpeg';
import { ScrollArrow } from '@/components/modules/home/scroll-arrow';
import { getCollection } from 'astro:content';
import WorkExperienceItem from '@/components/modules/home/work-experience-item';

const workExperiences = await getCollection('workExperience');
workExperiences.sort((a, b) => b.data.start.getTime() - a.data.start.getTime());
---

<Layout>
  <div class="min-h-screen bg-black overflow-hidden">
    {/* Hero Section with Spotlight Effect */}
    <div class="relative h-screen flex flex-col items-center justify-center">
      <Spotlight
        client:load
        className="-top-40 left-0 md:left-60 md:-top-20"
        fill="white"
      />
      {/* Main Content */}
      <div class="relative z-10 max-w-4xl px-4">
        <div class="flex flex-col items-center text-center gap-8">
          {/* Animated Text */}
          <div class="space-y-4">
            <img
              src={Avatar.src}
              alt="Wenwei Lin"
              class="rounded-full h-48 border-4 border-white shadow-lg mx-auto"
            />
            <h1 class="text-3xl md:text-6xl font-bold text-white">
              <TextGenerateEffect client:load words="Wenwei Lin" />
            </h1>
            <h2 class="text-xl md:text-2xl text-zinc-400">
              <TextGenerateEffect
                client:load
                words="Exploring Tech, Creating Solutions, Always Learning"
              />
            </h2>
          </div>

          {/* Interest Tags */}
          <div class="flex flex-wrap justify-center gap-2">
            {
              [
                'Frontend Developer',
                'Product Designer',
                'Bookworm',
                'Tech Enthusiast',
                'Lifelong Learner',
              ].map((tag) => (
                <Badge
                  variant="secondary"
                  className="bg-blue-800 hover:bg-blue-700 transition-colors text-gray-200"
                >
                  {tag}
                </Badge>
              ))
            }
          </div>

          {/* Social Links */}
          <div class="flex gap-4">
            <a href="https://github.com/wenwei-lin" target="_blank">
              <Button
                variant="ghost"
                size="icon"
                className="text-white hover:text-primary hover:bg-zinc-800"
              >
                <Github className="h-5 w-5" />
              </Button>
            </a>
            <a href="https://linkedin.com/in/wenwei-lin" target="_blank">
              <Button
                variant="ghost"
                size="icon"
                className="text-white hover:text-primary hover:bg-zinc-800"
              >
                <Linkedin className="h-5 w-5" />
              </Button>
            </a>
            <Button
              variant="ghost"
              size="icon"
              className="text-white hover:text-primary hover:bg-zinc-800"
            >
              <Mail className="h-5 w-5" />
            </Button>
          </div>
        </div>
      </div>

      <ScrollArrow client:load />
    </div>
    <section class="py-20 px-4 bg-zinc-900">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-3xl md:text-4xl font-bold text-white mb-12 text-center">
          Work Experience
        </h2>
        <div class="flex flex-col gap-8">
          {
            workExperiences.map((workExperience) => (
              <WorkExperienceItem
                client:load
                workExperience={workExperience.data}
              />
            ))
          }
        </div>
      </div>
    </section>
  </div>
</Layout>
