---
import Layout from '../layouts/default.astro';
---

<Layout title="项目">
    <main class="divide-y divide-gray-200">
        <h1 class="font-bold text-3xl mb-8 sm:text-4xl md:text-5xl">
            项目展示
        </h1>
        <!-- TODO: add page number for post -->
        <ul class="pt-4 flex flex-col flex-wrap gap-8">
            
        </ul>
    </main>
</Layout>