---
const socialMedia = [
    {
        name: "Email",
        icon: "fas fa-envelope",
        link: "mailto:wenwei66.lin@gmail.com",
    },
    {
        name: "Github",
        icon: "fab fa-github",
        link: "https://www.github.com/wenwei-lin",
    },
    {
        name: "LinkedIn",
        icon: "fab fa-linkedin",
        link: "https://www.linkedin.com/in/wenwei-lin",
    },
    {
        name: "YouTube",
        icon: "fab fa-youtube",
        link: "https://www.youtube.com/@wenwei-lin",
    },
    {
        name: "BiliBili",
        icon: "fab fa-bilibili",
        link: "https://space.bilibili.com/34104984",
    },
];
---

<footer class="pt-10 pb-4">
    <ul class="flex flex-row flex-wrap gap-4 justify-center align-middle">
        {
            socialMedia.map((item) => {
                return (
                    <li>
                        <a href={`${item.link}`} target="_blank">
                            <span class="sr-only">${item.name}</span>
                            <span
                                class={`${item.icon} text-2xl text-gray-700 hover:text-blue-500`}
                            />
                        </a>
                    </li>
                );
            })
        }
    </ul>

    <p class="text-center mt-4">
        Wenwei Lin &nbsp;•&nbsp; &copy; 2023 &nbsp;•&nbsp; <a
            href="/"
            class="text-teal-500 hover:text-blue-500">Wenwei's Blog</a
        >
    </p>
</footer>
