<section class="px-4 md:max-w-3xl md:mx-auto xl:max-w-5xl">
    <slot />
</section>

<style is:global>
    section.page-container {
        padding: 0 1rem;
    }

    @media (min-width: 768px) {
        section.page-container {
            max-width: 768px;
            margin: 0 auto;
        }
    }

    @media (min-width: 1280px) {
        section.page-container {
            max-width: 1024px;
        }
    }
</style>